*{
    box-sizing: border-box;
}
main{
    width:1200px;
}
   
.cell{
    min-height: 100px;
    background-color: blue; 
    border:3px solid black;
}

.row{
    display:flex;
    justify-content: center;
    flex-grow: 1;   
}
.col{
    flex-direction: column;
}
.col-1{
    flex-grow:1;
}
.col-2{
    flex-grow:2;
}
.col-3{
    flex-grow:3;
}
.col-4{
    flex-grow:4;
}
.col-5{
    flex-grow:5;
}
.row-2{
    height: 200px;
}
.row-3{
    height: 300px;
}
.row-4{
    height: 400px;
}
