*{
    box-sizing: border-box;
}
main{
    width:940px;
}
.cell{
    min-height: 100px;
    background-color: blue; 
    margin-bottom: 10px;
    margin-right: 20px;
}
.row .col:last-child .cell{
    margin-right:0;
}
.row{
    display:flex;
    justify-content: center;
    flex-grow: 1;   
}
.col{
    flex-direction: column;
}
.col-1{
    flex-grow:1;
}
.col-2{
    flex-grow:2;
}
.col-3{
    flex-grow:3.18;
}

.row-2{
    min-height: 200px;
}
