.btnCommon{
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border:0px;
    font-size: 20px;
}
.small{
    font-size:10px;
}
.large{
    font-size:30px;
}
.primeBtn{
    background-color: blue;
    color:white;   
}
.defaultBtn{
    background-color: transparent;
    border:1px solid grey;
}
.dashedBtn{
    background-color: transparent;
    border:1px dashed grey;
}
.dangerBtn{
    color:red;
    background-color:#e7e7e7;
    border:1px solid grey;
}
.ghost{
    background-color: transparent;
}