section{
    width:940px;
    height: 1000px;
    margin:50px auto 0;
    display:grid;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows:repeat(5, 1fr);
    grid-gap: 20px;
}
section div{
    border:1px solid black;
}   
.col-2{
    grid-column: span 2;
}
.col-6{
    grid-column: span 6;
}
.col-4{
    grid-column: span 4;
}
