*{
    box-sizing:border-box;
}
.box{
    position: relative;
    width: 1600px;
    height: 975px; 
}
.background{
    position:absolute;
    display:inline-block;
    width: 1600px;
    height: 975px;
    background-image: url(Groot.jpg); 
    background-image:contain;
    z-index: 1;
}
.mask{
    position:absolute;
    width: 1600px;
    height: 975px;  
    background-color:rgb(138, 136, 255);
    opacity: 0.6;
    z-index: 2; 
}
.text{
    position: absolute;
    top:20%;
    left:3%;
    font-size: 100px;
    font-weight: bold;
    color:rgb(255, 233, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 3; 
}
.textBox{
    background-color: brown;
    color:white;
    padding-left:15px;
    
}
.message{
    position: absolute;
    top:35%;
    font-size: 30px;
}
.category{
    position: absolute;
    background-color:  brown;
    padding:5px;
    color:white;
    bottom:10%;
    left: 50%;
    transform:translateX(-50%);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 3; 
}
.scrollBtnRight{
    position: absolute;
    text-decoration: none;
    right: 0%;
    top:50%;
    transform:translateY(-50%);
    background-color: brown;
    font-size: 50px;
    color:white;
    padding:5px;
    font-weight: bold;
    z-index: 3; 
}
.scrollBtnLeft{
    position: absolute;
    text-decoration: none;
    left: 0%;
    top:50%;
    transform:translateY(-50%);
    background-color: brown;
    font-size: 50px;
    color:white;
    padding:5px;
    font-weight: bold;
    z-index: 3; 
}